<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marton.stephane.mobsoft_lab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MobSoftApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.AnimeWatch.AnimeWatch"
            android:label="@string/app_name"
            android:parentActivityName=".UI.Main.MainActivity" />
        <activity android:name=".UI.Options.Options"
            android:parentActivityName=".UI.Main.MainActivity"></activity>

        <service android:name=".utils.BackgroundService" />

        <receiver android:name=".utils.MyBroadcastReceiver">
        <intent-filter>
            <action android:name="com.example.marton.stephane.anidbapplication.NEW_HOT_ANIME">
            </action>
        </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3ce4666433585a0998930099868a44a10ee16887" />
    </application>

</manifest>